extends includes/layout.pug
block content
    header.header
        .header__bar
            ul.header__links
                li.header__item
                    a.header__link(href='https://app.kontent.ai/' target='_blank') Kentico Kontent
                li.header__item
                    a.header__link(href='https://github.com/MilanLund/migration-tool' target='_blank') GitHub repository
                li.header__item
                    a.header__link(href='https://github.com/MilanLund/migration-tool/blob/master/README.md' target='_blank') Documentation
        .header__title 
            h1.header__heading  Migration tool for Kentico Kontent
    .layout
        section.layout__side
            .layout__side-content
                form.form#importForm
                    h2.form__heading Project settings
                    .form__row
                        label.form__label(for='project') Project ID
                        input.form__input#project(name='project', required)
                    .form__row
                        label.form__label(for='cmkey') Content Management API key
                        input.form__input#cmkey(name='cmkey', required)
                    .form__row
                        button.form__button.form__button--main#import Import data
                form.form#blueprintForm
                    h2.form__heading Blueprint
                    .form__row
                        label.form__label(for='model') Content model
                        .form__select
                            select#contentmodel(name='model', required)
                    .form__row
                        button.form__button#blueprint Generate blueprint
        section.layout__main
            .layout__main-content
                .layout__section.layout__section--main
                    .editor#code-editor
                        .editor__heading 
                            h2 Import data
                            ul.switch
                                li.switch__item
                                    a(href='#', data-format='application/json').switch__link JSON
                                li.switch__item
                                    a(href='#', data-format='text/csv').switch__link CSV
                        .editor__main
                            .editor__code
                                textarea.editor__code#import-data
                .layout__section.layout__section--aside
                    .editor
                        h2.editor__heading Logs
                        .editor__main
                            .editor__logs