extends includes/layout.pug
block content
    header.header
        .header__bar
            ul.header__links
                li.header__item
                    a.header__link(href='https://app.kenticocloud.com/' target='_blank') Kentico Cloud
                li.header__item
                    a.header__link(href='https://github.com/MilanLund/migration-tool' target='_blank') GitHub repository
        .header__title 
            h1.header__heading  Migration tool for Kentico Cloud
    .layout
        section.layout__side
            .layout__side-content
                form.form#importForm
                    h2.form__heading Project settings
                    .form__row
                        label.form__label(for='project') Project ID
                        input.form__input#project(name='project', required)
                    .form__row
                        label.form__label(for='cmkey') Content Management API key
                        input.form__input#cmkey(name='cmkey', required)
                    .form__row
                        button.form__button#import Import data
        section.layout__main
            .layout__main-content
                .layout__section.layout__section--70
                    .editor#code-editor
                        h2.editor__heading Import data
                        .editor__main
                            .editor__code
                                textarea.editor__code#import-data
                .layout__section.layout__section--30
                    .editor
                        h2.editor__heading Logs
                        .editor__main
                            .editor__logs